<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="98d18e82-9841-4cdd-aa62-563e7edc2528" Publisher="CN=Kasha" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="98d18e82-9841-4cdd-aa62-563e7edc2528" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>The Box</DisplayName>
    <PublisherDisplayName>Kasha</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="The_Box.App">
      <m3:VisualElements DisplayName="The Box" Square150x150Logo="Assets\The Box 360.png" Square44x44Logo="Assets\SmallLogo.png" Description="A tool designed for the development of one's musical skill, specifically targetting the user's ability to spell chords given a scale name mentally chosen by said user. Co-developed by Kevin Sanders" ForegroundText="light" BackgroundColor="transparent" ToastCapable="false">
        <m3:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <m3:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" Square71x71Logo="Assets\The Box 170.png">
          <m3:ShowNameOnTiles>
            <m3:ShowOn Tile="wide310x150Logo" />
          </m3:ShowNameOnTiles>
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <Capability Name="removableStorage" />
  </Capabilities>
</Package>